h1 {
    color: #3E3F3F !important;
}

.mainDiv {
    padding: 5%;
    text-align: center;
    margin-top: 10px;
}

.langSelect {
    text-align: center;
    color: white;
}

.french {
    background-color: blue;
}

.spanish {
    background-color: green;
}

.japanese {
    background-color: red;
}

.card-deck {
    padding-left: 10% !important;
    padding-right: 10% !important;

}