.body-div {
        height: 1080px;
}

.Login-page {
        background-color: #ffffff;
        height: 1080px;
}

#intro {
        text-align: center;
        color: #3e3f3f
}

.scale-down-top {
	-webkit-animation: scale-down-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: scale-down-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.scale-up-top {
        max-height: 600px;
        animation: scale-up-top 1.5s cubic-bezier(0.250, 0.460, 0.00, 0.940) 1s both;
}

  @keyframes scale-down-top {
    0% {
        transition: max-height 0.15s ease-out;
        max-height: 600px;
    }
    100% {
        max-height: 450px;
    }
  }

  @keyframes scale-up-top {
        0% {
            transition: font-size 0.15s ease-out;
        }
        100% {
            font-size: 35px;
        }
  }

  /* forms stuff */
  
  

